:root {
  --text-secondary: #6b6f76;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost-container {
  position: relative;
  height: 100%;
}

.scrollhost {
  overflow: auto;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  cursor: default;
}

.scroll-thumb {
  width: 8px;
  margin-right: 1px;
  position: absolute;
  border-radius: 20px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.scroll-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.List {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  position: relative;
}

.List::-webkit-scrollbar {
  width: 8px;
}

.List::-webkit-scrollbar-track {
  background: transparent;
}

.List::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-right: 1px;
  transition: background-color 0.15s ease-in-out;
}

.List::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.tooltip {
  display: inline-flex;
  border: 1px solid #dfe1e4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.14);
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
}
.tooltip-max {
  max-width: 350px;
  white-space: normal;
}

.displayoff {
  display: none;
}

.highlight-fade {
  animation: fadeHighlight 1s forwards;
}

/* Custom toggle wrapper to override design system styles */
.custom-toggle-wrapper {
  padding: 8px 6px 8px;
  & .cop-font-medium {
    font-weight: 400;
    color: var(--text-secondary);
  }
  & .cop-leading-tight {
    line-height: 22px;
  }
  & .cop-flex {
    align-items: center;
  }
}

@keyframes fadeHighlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(252, 243, 200, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
