* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tapwrite-details-page {
  min-height: 45vh;
}

@media (min-width: 768px) {
  .tapwrite-details-page {
    min-height: 55vh;
  }
}

@media (min-width: 1200px) {
  .tapwrite-details-page {
    min-height: 65vh;
  }
}
