* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tapwrite-details-page {
  height: 45vh;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

@media (min-width: 1150px) {
  .tapwrite-details-page {
    height: 70vh;
  }
}

@media (min-width: 800px) {
  .tapwrite-details-page {
    height: 60vh;
  }
}

@media (min-width: 450px) {
  .tapwrite-details-page {
    height: 50vh;
  }
}
