.tapwrite-comment-input {
  min-height: 22px;
  cursor: text;
  /* pb is 26px because size of the arrow button is 24px and text should start wrapping just above the button */
}

.tapwrite-reply-input {
  width: '100%';
  flex-grow: 1;
  min-width: 0;
}

.tapwrite-comment {
  min-height: 2vh;
}
.tapwrite-comment-editable {
  min-height: 2vh;
  cursor: text;
}

.tapwrite-comment img,
.tapwrite-task-description img,
.tapwrite-comment-input img,
.tapwrite-reply-input {
  cursor: text;
}
.tapwrite-reply-input img {
  cursor: pointer;
}

.tapwrite-task-editor {
  cursor: text;
}

.tapwrite-task-editor img {
  cursor: pointer;
}

.tapwrite-task-description {
  min-height: 15vh;
  max-height: 50vh;
  padding: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  border-radius: 4px;
  resize: vertical;
  overflow: auto;
}

.tapwrite-description-h-full {
  min-height: 10vh;
  max-height: 66vh;
  overflow: auto;
  background-color: #ffffff;
}

.tapwrite-task-description:focus {
  border-color: #000000;
}

.tapwrite-task-description:focus-within {
  border-color: #000000;
}
